<footer class="site-footer">
  <div class="wrapper">
    <div style="text-align: center; color: #828282; font-size: 14px; line-height: 1.8;">
      
      <p style="margin-bottom: 5px;">
        <a href="mailto:sganapavarapu3@gatech.edu" style="color: #828282; text-decoration: underline;">Email</a> | 
        <a href="https://github.com/SaiTarunGanapavarapu" target="_blank" style="color: #828282; text-decoration: underline;">GitHub</a> | 
        <a href="https://scholar.google.com/citations?user=ZEaUaOEAAAAJ&hl=en" target="_blank" style="color: #828282; text-decoration: underline;">Google Scholar</a> | 
        <a href="https://www.linkedin.com/in/saitarunganapavarapu/" target="_blank" style="color: #828282; text-decoration: underline;">LinkedIn</a>
      </p>
      
      <p style="margin-top: 0; font-size: 13px; color: #b0b0b0;">
        &copy; {{ site.time | date: '%Y' }} Sai Tarun Ganapavarapu. All rights reserved.
      </p>
      
    </div>
  </div>
</footer>
